<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>732974960675-2ageh3qike7e2eoevltvu9ubi1roq69d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.732974960675-2ageh3qike7e2eoevltvu9ubi1roq69d</string>
	<key>API_KEY</key>
	<string>AIzaSyDM_j2nt4jfuswFt4zAQCj0K1aKm-6HFpg</string>
	<key>GCM_SENDER_ID</key>
	<string>732974960675</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.setOfServiceApp</string>
	<key>PROJECT_ID</key>
	<string>set-of-service-1cacc</string>
	<key>STORAGE_BUCKET</key>
	<string>set-of-service-1cacc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:732974960675:ios:1e467ce24779620b38a196</string>
</dict>
</plist>